.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 97vh;
}

.mainDiv {
    margin-top: 9.4vh;
}

.logMain {
    overflow: auto;
}

.centered {
    text-align: center;
}

.macroCalDiv {
    display: flex;
    justify-content: space-between;
}

.circle {
    margin-right: 8vw;
}

.remove {
    margin-left: 4vw;
    margin-right: 4vw;
}

.smaller {
    font-size: 20px;
}

.logDivMain {
    margin-top: 3vh;
    height: 62.5vh;
}

.macro {
    margin-top: 1vh;
}

.topCals {
    font-size: 20px;
    font-weight: bold;
}

.calcInput {
    display: flex;
    flex-direction: column;
    margin: 1vh;
}

.calcInput>input {
    width: 22vw;
}

#sex {
    background-color: white;
    padding: 1vh 1vw;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    width: 24.2vw;
}

#activity {
    background-color: white;
    padding: 1vh 1vw;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    width: 24.2vw;
}

.calcTotal {
    font-weight: bold;
}
